<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasajes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Crear - Ver - Actualizar - Borrar | Pasajes</h2>
        <div id="accordion">
            <!-- Crear Pasajes -->
            <div class="card mb-3">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        Crear Pasajes
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <form action="{% url 'add_pasaje' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="idPasajes">Id del pasaje</label>
                                <input type="number" name="idPasajes" id="idPasajes" class="form-control" placeholder="Solo ingrese números" required>
                            </div>
                            <div class="form-group">
                                <label for="codigoVerificador">Codigo de verificacion</label>
                                <input type="number" name="codigoVerificador" id="codigoVerificador" class="form-control" placeholder="Ingrese el codigo de verificacion del pasaje" required>
                            </div>
                            <div class="form-group">
                                <label for="idAsiento">Id del asiento</label>
                                <input type="text" name="idAsiento" id="idAsiento" class="form-control" placeholder="Solo ingrese números" required>
                            </div>
                            <div class="form-group">
                                <label for="idVuelos">Id del vuelo</label>
                                <input type="number" name="idVuelos" id="idVuelos" class="form-control" placeholder="Solo ingrese números" required>
                            </div>
                            <div class="form-group">
                                <label for="rutPasajero">Rut del pasajero</label>
                                <input type="number" name="rutPasajero" id="rutPasajero" class="form-control" placeholder="Rut del pasajero" required>
                            </div>
                            <div class="form-group">
                                <label for="fk_idEstado">Id del estado</label>
                                <input type="number" name="fk_idEstado" id="fk_idEstado" class="form-control" placeholder="Solo ingrese números" required>
                            </div>
                            <div class="form-group">
                                <label for="fk_idUsuario">Id del usuario</label>
                                <input type="number" name="fk_idUsuario" id="fk_idUsuario" class="form-control" placeholder="Ingrese el id del usuario creador" required>
                            </div>
                            <div class="form-group">
                                <label for="fk_idFecha_hora">Id de la fecha</label>
                                <input type="number" name="fk_idFecha_hora" id="fk_idFecha_hora" class="form-control" placeholder="Ingrese el id de la fecha" required>
                            </div>
                            <div class="form-group">
                                <label for="idAvion">Id del avion</label>
                                <input type="number" name="idAvion" id="idAvion" class="form-control" placeholder="Solo ingrese números" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
    
            <!-- Ver Pasaje -->
            <div class="card mb-3">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        Ver Pasaje
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="container">
                        <h3>Datos del Pasaje</h3>
                        <div class="form-group">
                            <label for="buscarPasaje">Buscar un Pasaje por su Id</label>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="number" name="buscarPasaje" class="form-control" id="buscarPasaje" placeholder="Ingrese el Id del Pasaje" required>
                                <button type="submit" class="btn btn-primary btn-block mt-2">Buscar Pasaje</button>
                            </form>
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Peso del quipaje</th>
                                    <th>Rut pasajero</th>
                                    <th>Id estado</th>
                                    <th>Id usuario</th>
                                    <th>Id Fecha Hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
            <!-- Actualizar Pasaje -->
            <div class="card mb-3">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        Actualizar Pasaje
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="container">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="updateIdPasajes">Id del pasaje</label>
                                <input type="number" name="updateIdPasajes" id="updateIdPasajes" class="form-control" placeholder="Solo ingrese números" required>
                            </div>
                            <div class="form-group">
                                <label for="updateCodigoVerificador">Codigo de verificacion</label>
                                <input type="number" name="updateCodigoVerificador" id="updateCodigoVerificador" class="form-control" placeholder="Ingrese el codigo de verificacion del pasaje" required>
                            </div>
                            <div class="form-group">
                                <label for="updateIdAsiento">Id del asiento</label>
                                <input type="number" name="updateIdAsiento" id="updateIdAsiento" class="form-control" placeholder="Solo ingrese números" required>
                            </div>
                            <div class="form-group">
                                <label for="updateIdVuelos">Id del vuelo</label>
                                <input type="number" name="updateIdVuelos" id="updateIdVuelos" class="form-control" placeholder="Solo ingrese números" required>
                            </div>
                            <div class="form-group">
                                <label for="updateRutPasajero">Rut del pasajero</label>
                                <input type="number" name="updateRutPasajero" id="updateRutPasajero" class="form-control" placeholder="Rut del pasajero" required>
                            </div>
                            <div class="form-group">
                                <label for="updateFk_idEstado">Id del estado</label>
                                <input type="number" name="updateFk_idEstado" id="updateFk_idEstado" class="form-control" placeholder="Solo ingrese números" required>
                            </div>
                            <div class="form-group">
                                <label for="updateFk_idUsuario">Id del usuario</label>
                                <input type="number" name="updateFk_idUsuario" id="updateFk_idUsuario" class="form-control" placeholder="Ingrese el id del usuario creador" required>
                            </div>
                            <div class="form-group">
                                <label for="updateFk_idFecha_hora">Id de la fecha</label>
                                <input type="number" name="updateFk_idFecha_hora" id="updateFk_idFecha_hora" class="form-control" placeholder="Ingrese el id de la fecha" required>
                            </div>
                            <div class="form-group">
                                <label for="updateIdAvion">Id del avion</label>
                                <input type="number" name="updateIdAvion" id="updateIdAvion" class="form-control" placeholder="Solo ingrese números" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                        </form>
                    </div>
                </div>
            </div>
    
            <!-- Borrar Pasaje -->
            <div class="card mb-3">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                        Borrar un Pasaje
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="container">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="deleteIdPasaje">Borrar un Pasaje por el Id</label>
                                <input type="number" name="deleteIdPasaje" class="form-control" id="deleteIdPasaje" placeholder="Ingrese el Id del Pasaje" required>
                            </div>
                            <button type="submit" class="btn btn-danger btn-block">Borrar Pasaje</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>