<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta embarque</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container my-5">
        <h2 class="text-center mb-4">Crear - Ver - Actualizar - Borrar | Tarjeta de embarque</h2>
    
        <!-- Crear Tarjeta de embarque -->
        <div class="card mb-4" style="border-width: 2px;">
            <div class="card-body">
                <h3>Crear Tarjeta de embarque</h3>
                <form action="{% url 'add_tarjeta_embarque' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="idTarjeta">Id de la tarjeta</label>
                            <input type="number" name="idTarjeta" id="idTarjeta" class="form-control" placeholder="Solo ingrese números" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="puertaEmbarque">Número de puerta</label>
                            <input type="number" name="puertaEmbarque" id="puertaEmbarque" class="form-control" placeholder="Ingrese el número de puerta" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="idCheckin">Id del check-in</label>
                            <input type="number" name="idCheckin" id="idCheckin" class="form-control" placeholder="Solo ingrese números" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fk_idEstado">Id del estado</label>
                            <input type="number" name="fk_idEstado" id="fk_idEstado" class="form-control" placeholder="Solo ingrese números" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fk_idUsuario">Id del usuario</label>
                            <input type="number" name="fk_idUsuario" id="fk_idUsuario" class="form-control" placeholder="Ingrese el id del usuario creador" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fk_idFecha_hora">Id de la fecha</label>
                            <input type="number" name="fk_idFecha_hora" id="fk_idFecha_hora" class="form-control" placeholder="Ingrese el id de la fecha" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Crear Tarjeta de embarque</button>
                </form>
            </div>
        </div>
    
        <!-- Ver Tarjeta de embarque -->
        <div class="card mb-4" style="border-width: 2px;">
            <div class="card-body">
                <h3>Ver Tarjeta de embarque</h3>
                <form action="{% url 'read_tarjetaEmbarque' %}" method="post" class="form-inline mb-4">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="buscarIdEmbarque" class="mr-2">Buscar una tarjeta de embarque por su Id</label>
                        <input type="number" name="buscarIdEmbarque" id="buscarIdEmbarque" class="form-control" placeholder="Ingrese el Id del Equipaje" required>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 ml-2">Buscar Tarjeta de embarque</button>
                </form>
                {% if idTarjetaEmbarque %}
                    <table class="table table-bordered mb-4">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Puerta Embarque</th>
                                <th>Id checkin</th>
                                <th>Id estado</th>
                                <th>Id usuario</th>
                                <th>Id Fecha Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ idTarjetaEmbarque }}</td>
                                <td>{{ puertaEmbarque }}</td>
                                <td>{{ idCheckin }}</td>
                                <td>{{ idEstado }}</td>
                                <td>{{ usuario }}</td>
                                <td>{{ fechaHora.day }}-{{ fechaHora.month }}-{{ fechaHora.year }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    
        <!-- Actualizar Tarjeta de embarque -->
        <div class="card mb-4" style="border-width: 2px;">
            <div class="card-body">
                <h3>Actualizar Tarjeta de embarque</h3>
                <form action="{% url 'update_tarjetaEmbarque' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="updateIdTarjeta">Id de la tarjeta</label>
                            <input type="number" name="updateIdTarjeta" id="updateIdTarjeta" class="form-control" placeholder="Solo ingrese números" value="{{ idTarjetaEmbarque }}" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="updatePuertaEmbarque">Número de puerta</label>
                            <input type="number" name="updatePuertaEmbarque" id="updatePuertaEmbarque" class="form-control" placeholder="Ingrese el número de puerta" value="{{ puertaEmbarque }}" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="updateIdCheckin">Id del check-in</label>
                            <input type="number" name="updateIdCheckin" id="updateIdCheckin" class="form-control" placeholder="Solo ingrese números" value="{{ idCheckin }}" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="updateFk_idEstado">Id del estado</label>
                            <input type="number" name="updateFk_idEstado" id="updateFk_idEstado" class="form-control" placeholder="Solo ingrese números" value="{{ idEstado }}" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="updateFk_idUsuario">Id del usuario</label>
                            <input type="number" name="updateFk_idUsuario" id="updateFk_idUsuario" class="form-control" placeholder="Ingrese el id del usuario creador" value="{{ idUsuario }}" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="updateFk_idFecha_hora">Id de la fecha</label>
                            <input type="number" name="updateFk_idFecha_hora" id="updateFk_idFecha_hora" class="form-control" placeholder="Ingrese el id de la fecha" value="{{ idFechaHora }}" required>
                        </div>
                    </div>                    
                    <button type="submit" class="btn btn-primary btn-block">Actualizar Tarjeta de embarque</button>
                </form>
            </div>
        </div>
    
        <!-- Borrar Tarjeta de embarque -->
        <div class="card mb-4" style="border-width: 2px;">
            <div class="card-body">
                <h3>Borrar Tarjeta de embarque</h3>
                <form action="{% url 'delete_tarjetaEmbarque' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="deleteIdEmbarque">Borrar una tarjeta de embarque por el Id</label>
                        <input type="number" name="deleteIdEmbarque" id="deleteIdEmbarque" class="form-control" placeholder="Ingrese el Id de la tarjeta de embarque" required>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Borrar Tarjeta de embarque</button>
                </form>
            </div>
        </div>
    </div>      
</body>
</html>